/* Aquí es donde definirás estilos para componentes individuales que no pueden dividirse más */
.accordion-button:focus{
    box-shadow: none;
}
.avatar{
    position: relative;
    width: 2.375rem;
    height: 2.375rem;
    cursor: pointer;
}
.avatar .avatar-initial{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.avatar.avatar-online::after {
    background-color: var(--zc-bg-mountain);
}
.avatar.avatar-online::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px var(--zc-bg-madison);
}
.border-blue-zc{
    border-color: var(--zc-bg-madison) !important;
}
.backdrop-blur{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.btn-close:focus{
    box-shadow: none;
}
.bg-avatar{
    background-color: rgba(209, 213, 219, 0.95);
    color: var(--zc-body-color);
}
.bg-alabaster-50{
    background: var(--zc-bg-alabaster-50);
}
.border-dashed {
    border-bottom-style: dashed !important;
    border-bottom-width: 1px !important;
}

.cursor-auto{
    cursor: auto !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
.dropdown-toggle-avatar::after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-bottom: 5.5px;
    color: var(--zc-bg-white);
}
/* Texto básico (p, h1, h2, etc.) */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: .5rem;
    line-height: 1;
}
.h-12p{height: 3rem;}
.h-13p{height: 3.125rem;}
.h-14p{height: 3.5rem;}
.fs-xxs{font-size: 0.625rem;}
.fs-xs{font-size: 0.75rem;}
.fs-sm{font-size: 0.875rem;}
.fw-extrabold{font-weight: 800;}
.fw-black{font-weight: 900;}
.flex-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-bg-sail{
    color: var(--zc-body-color);
    background-color: #ccedff;
}
.text-body-highlight{
    --zc-text-opacity: 1;
    color: rgba(var(--zc-body-highlight-color-rgb), var(--zc-text-opacity)) !important;
}
.text-body-tertiary{
    --zc-text-opacity: 1;
    color: rgba(var(--zc-tertiary-color-rgb), var(--zc-text-opacity)) !important;
}
.shadow-zc{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.shadow-sm-zc{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.shadow-xs-zc{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.wpwl-label {
    font-size: 12px;
    font-weight: 650;
}
button.wpwl-button.wpwl-button-pay {
    width: 100%;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
}
/* Botones simples */
.btn-primary-zc {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4b95e6;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2d65c8;
    --bs-btn-hover-border-color: rgba(0, 0, 0, 0.2);
    --bs-btn-focus-shadow-rgb: 255, 255, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2a53a3;
    --bs-btn-active-border-color: rgba(0, 0, 0, 0.25);
    --bs-btn-active-shadow: initial;
    --bs-btn-disabled-color: #6db2ed;
    --bs-btn-disabled-bg: #deedfb;
    --bs-btn-disabled-border-color: transparent;
}
.btn-warning-zc {
    --bs-btn-color: #070600;
    --bs-btn-bg: #ffc700;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #070600;
    --bs-btn-hover-bg: #d19100;
    --bs-btn-hover-border-color: rgb(209,145,0);
    --bs-btn-focus-shadow-rgb: 255, 255, 255;
    --bs-btn-active-color: #070600;
    --bs-btn-active-bg: #a66702;
    --bs-btn-active-border-color: rgba(166,103,2);
    --bs-btn-active-shadow: initial;
    --bs-btn-disabled-color: #ffd70d;
    --bs-btn-disabled-bg: #fffcc1;
    --bs-btn-disabled-border-color: transparent;
}
.btn-dark-zc {
    --bs-btn-color: #fff;
    /* --bs-btn-bg: #1d2e51; */
    --bs-btn-bg: #2655a8;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #123c96;
    --bs-btn-hover-border-color: rgb(18,60,150);
    --bs-btn-focus-shadow-rgb: 255, 255, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0b359a;
    --bs-btn-active-border-color: rgb(11,53,154);
    --bs-btn-active-shadow: initial;
    --bs-btn-disabled-color: #99a7c9;
    --bs-btn-disabled-bg: #fffcc1;
    --bs-btn-disabled-border-color: transparent;
}
.form-select:focus{
    box-shadow: none;
}
/* .circle-outer {
    position: absolute;
    width: 370px;
    height: 370px;
    border: 1px solid rgba(39, 71, 129, 0.5);
    border-radius: 50%;
    z-index: 0;
}

.circle-inner {
    width: 330px;
    height: 330px;
    background-color: rgba(39, 71, 129, 0.8);
    border-radius: 50%;
    margin: 20px;
}

.circle-outer.top {
    top: -230px;
    right: 0px;
}

.circle-outer.bottom {
    bottom: -100px;
    right: 10px;
} */

.circle-outer {
    position: relative;
}

/* .card::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid rgba(39, 71, 129, 0.5);
    z-index: 1;
} */

.circle-outer::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 290px;
    height: 290px;
    border: 1px solid rgba(39, 71, 129, 0.5);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    z-index: 0;
}

.circle-outer::after {
    top: -145px;
    right: 10px;
}

/* .card::before {
    bottom: -60px;
    right: 10px;
} */

/* .circle-outer .card-body {
    position: relative;
    z-index: 2;
} */

/* .card-body::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgba(39, 71, 129, 0.8);
} */

.circle-outer::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgba(39, 71, 129, 0.8);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}

.circle-outer::before {
    width: 250px;
    height: 250px;
    top: -125px;
    right: 30px;
}

/* .card-body::before {
    width: 80px;
    height: 80px;
    bottom: -40px;
    right: 30px;
} */


/* CSS */
.btn-light-zc {
  border: 0;
  transition: all 150ms ease-in-out;
  border-radius: 8px;
  color: #111727;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #F9FAFB 100%);
  box-shadow: rgba(229, 231, 235, 0.9) 0 0 0 1px inset, rgba(209, 213, 219, 0.95) 0 -1px 2px 0 inset, rgba(17, 24, 39, 0.04) 0 1px 1px 0;
}

.btn-light-zc:hover {
  filter: brightness(0.98);
}

.btn-light-zc:active {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #F9FAFB 100%);
  box-shadow: rgba(229, 231, 235, 0.9) 0 0 0 1px inset, rgba(209, 213, 219, 0.95) 0 1px 2px 0 inset;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7 !important;
  box-shadow: rgba(44, 187, 99, .1) 0 -25px 18px -14px inset,rgba(44, 187, 99, .10) 0 1px 2px,rgba(44, 187, 99, .10) 0 2px 4px,rgba(44, 187, 99, .10) 0 4px 8px,rgba(44, 187, 99, .10) 0 8px 16px,rgba(44, 187, 99, .10) 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  transform: scale(1.05) rotate(-1deg);
}

/* Campos de entrada (input, textarea, select) */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control{
    background-color: #eeeeee;
}
.form-control:focus{
    box-shadow: none;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
    box-shadow: none;
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus{
    box-shadow: none;
}
.form-control.is-valid, .was-validated .form-control:valid{
    background-image: none;
}
.list-group-items-details{
    display: flex;
    justify-content: space-between;
}
.btn-placetopay{
    border: 1px solid rgba(0, 214, 56, 0.5) !important;
    /* background: rgba(0, 214, 56); */
}
.btn-payphone{
    border: 1px solid rgba(235, 80, 42, 0.5) !important;
    background-color: rgba(235, 80, 42) !important;
}

.btn-placetopay,
.btn-payphone{
    border-radius: 1rem;
    transition: all 300ms ease-in;
    cursor: pointer;
}
.btn-payphone:hover{
    border-color: rgba(235, 80, 42, 0.9);
    background-color: rgba(235, 80, 42);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.btn-placetopay:hover{
    border-color: rgba(0, 214, 56, 0.9);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
::placeholder {
    font-size: 0.875rem;
}


/* Iconos individuales */
/* Etiquetas (span, label) */

/* Breakpoints */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* nav.navbar-step ul.navbar-nav{
        border-radius: 1rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    } */
    /* nav.navbar-step .navbar-nav li{
        border-right: 1px solid #dee2e6;
        padding: 0 8px;
    } */
    /* nav.navbar-step .navbar-nav li:last-child{
        border-right: 0;
    } */
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Barra de navegación navbar-step */
    nav.navbar-step ul.navbar-nav{
        border-radius: 1rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    /* nav.navbar-step .navbar-nav li{
        border-right: 1px solid #dee2e6;
        padding: 0 8px;
    } */
    nav.navbar-step .navbar-nav li:last-child{
        border-right: 0;
    }
    /* Personalizada */
    .border-lg-bottom{
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}


/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Barra de navegación navbar-step */
    nav.navbar-step ul.navbar-nav{
        padding-top: 0;
        border-bottom: 1px solid #dee2e6;
        padding-left: 8px;
        padding-right: 8px;
        /* width: 100%; */
        justify-content: space-between;
        padding-bottom: 0;
    }
    nav.navbar-step .navbar-nav .nav-link{
        display: block;
        margin-left: 0;
        transition: 0.3s;
        /* border-bottom: 2px solid #F1F0F3; */
        padding-bottom: 2px;
    }
    nav.navbar-step .navbar-nav .nav-link .icon{
        border-radius: 5px;
    }
    nav.navbar-step .navbar-nav .nav-link .icon{margin: auto;}
    nav.navbar-step .navbar-nav .nav-link.active{
        /* border-color: var(--bg-strong-blue); */
    }
    /* nav .navbar-nav .nav-link.active .icon,
    nav .navbar-nav .nav-link.active .icon:hover{
        background-color: var(--bg-very-pale);
        color: var(--bg-strong-blue);
    } */
    nav.navbar-step .navbar-nav .nav-link.active .nav-link-text{
        margin-left: 0;
        text-align: center;
    }
    nav.navbar-step .navbar-nav .nav-link .nav-link-text{
        /* display: none !important;  */
        font-size: 10px;
    }
    .list-group-items-details{
        flex-direction: column;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}
