/* Estos componentes están formados por varios "átomos" y pueden tener un propósito específico en tu diseño. Algunos ejemplos de "moléculas" incluyen: */
/* 
    Barra de navegación
    Formularios simples (etiqueta + campo de entrada)
    Tarjetas de producto
    Botones compuestos (con iconos, texto, etc.)
    Encabezados compuestos
 */

.card-img-top {
    max-width: 75px;
    height: auto;
    border-radius: 10px;
    border-top: 6px; /* Agrega un borde superior de 3px de grosor y color negro */
    padding-top: 10px; /* Opcional: para dar un espacio entre el borde y la imagen */
}

.icono {
    width: 30px; /* ajusta el ancho según tu preferencia */
    height: 30px; /* ajusta el alto según tu preferencia */
}

.list-group-item {
    text-align: left;
}

.list-group-radio .form-check-input:checked + .list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 2px var(--bs-primary);
}
.list-group-radio .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
}

.react-shadow-w0axkt {
    font-size: var(--chakra-fontSizes-sm);
    text-transform: uppercase;
    padding-bottom: var(--chakra-space-4);
    font-weight: var(--chakra-fontWeights-semibold);
    color: var(--chakra-colors-colorText);
    font-family: var(--chakra-fonts-body);
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid rgb(10, 3, 109);
    padding: 6px;
    text-align: center;
}

.cantidad-columna {
    width: 50px;
}
.precio-columna {
    width: 100px;
}

.negrita {
    font-weight: bold;
}
.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}